{% extends "/pages/base.html" %}


{% block title %}Create user page{% endblock %}

{% block content %}

{% if not session.get('username') %}
<div class="create-user-container">
    <h1>Login</h1>
    <form action="/create_user" method="post">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="password">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <button type="submit" class="login-button">Register</button>
    </form>
</div>

{% else %}
<div>You are currently logged in.</div>
{% endif %}

{% endblock %}