{% extends "/pages/base.html" %}

{% block title %}index page{% endblock %}

{% block content %}

<div class="index_page_background"></div>

<div class="index_page_logo">
    <img src="/static/icon_large.png">
</div>
<div class="index_page_button_block">
    <div class="index_page_button" onclick="window.location.href='/reports'">
        <div>Reports</div>
    </div>
    <div class="index_page_button" onclick="window.location.href='/search'">
        <div>Search</div>
    </div>
</div>
{% endblock %}