{% extends "/pages/base.html" %}


{% block title %}login page{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="login-button">Login</button>
    </form>
</div>
<div class="create-user-button" style="margin-top: 20px;" onclick="window.location.href='/create_user'">
    <div>Create User</div>
</div>

{% endblock %}