<div class="login_box">
    {% if session.get('user_type') == 'admin' or session.get('user_type') == 'user' %}
    <div class="login_box_content" onclick="logout()">
        <div>Welcome, {{ session['username'] }}!</div>
    </div>
    {% else %}
    <div class="login_box_content" onclick="window.location.href='/login'">
        <div>Login</div>
    </div>
    {% endif %}
</div>

<script>
    function logout() {
        fetch('/logout')
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                }
            })
    }
    </script>
